body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
}

header {
    background-color: #4c1a2b;
    color: white;
    font-size: 36px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 15px;
    text-align: left;
    border-bottom: 5px solid #3a1624;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.left {
    background-color: #5e2d3f;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    width: fit-content;  
    align-self: flex-start;
}

.empty {
    flex-grow: 1;  
}

.right {
    display: flex;
    flex-direction: column;
    gap: 120px;
    align-self: flex-start;
    margin-left: -50px;
}

.task-status {
    background-color: #5e2d3f;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
}